#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163F54;
    border: 3px solid white;
    height: 10vh;
}
  

#header h1 {
    display: inline;
    margin: 0;
    color: white;
}


